en_core_sci_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz#sha256=7c8fc52542dd1452ffce00b045c1298e2c185b7cf84793f8e0ec941987c09808
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz#sha256=a54a114ee11dab7cf6db8cf69ef485145011537f45f3c16c71338c48fd6f070b
joblib==1.5.3
matplotlib==3.11.1
model2vec==0.8.2
numpy==1.26.4
pandas==3.0.5
pingouin==0.6.1
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
scispacy==0.5.5
sentence-transformers==5.6.1
spacy==3.7.5
spacytextblob==5.0.0
statsmodels==0.14.6
textacy==0.13.0
textdescriptives==2.8.2
tqdm==4.70.0
