annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
blis==0.7.11
cachetools==7.1.5
catalogue==2.0.10
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
cloudpathlib==0.24.0
confection==0.1.5
conllu==6.0.0
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
cytoolz==1.1.0
defusedxml==0.7.1
dotenv==0.9.9
en_core_sci_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz#sha256=7c8fc52542dd1452ffce00b045c1298e2c185b7cf84793f8e0ec941987c09808
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz#sha256=a54a114ee11dab7cf6db8cf69ef485145011537f45f3c16c71338c48fd6f070b
floret==0.10.5
fonttools==4.63.0
ftfy==6.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jellyfish==1.2.1
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
langcodes==3.5.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdurl==0.1.2
murmurhash==1.0.15
narwhals==2.24.0
networkx==3.6.1
nltk==3.10.0
nmslib-metabrainz==2.1.3
numpy==1.26.4
packaging==26.2
pandas==3.0.5
pandas-flavor==0.8.1
patsy==1.0.2
pillow==12.3.0
pingouin==0.6.1
preshed==3.0.13
psutil==7.2.2
pybind11==3.0.4
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
pyphen==0.17.2
pysbd==0.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.7.19
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.17.1
scispacy==0.6.2
seaborn==0.13.2
setuptools==83.0.0
shellingham==1.5.4
six==1.17.0
smart_open==7.7.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-lookups-data==1.0.5
spacytextblob==4.0.0
srsly==2.5.3
statsmodels==0.14.6
tabulate==0.10.0
textacy==0.13.0
textblob==0.15.3
textdescriptives==2.8.4
thinc==8.2.5
threadpoolctl==3.6.0
toolz==1.1.0
tqdm==4.69.0
typer==0.27.0
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
wasabi==1.1.3
wcwidth==0.8.2
weasel==0.4.3
wrapt==2.2.2
xarray==2026.7.0
